---
const description = "404";
import '../styles/global.css';
---
<layout>
    <div class="lost">
        <div class="gif">
            <img width="300" height="259" alt="Raccoon404Gif" src="/404.webp"/>
        </div>
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">Most people never see this page... promise you won't tell?</p>
        <p>
            <a class="lost__link" href="/">I promise</a>
        </p>
    </div>
</layout>

