---
import Layout from '../layouts/Layout.astro';
const pageTitle = "404";
const description = "404";
import '../styles/global.css';
---
<Layout>
    <div class="lost">
        <div class="gif">
            <img width="300" height="259" alt="Raccoon404Gif" src="/404.webp"/>
        </div>
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">"Not all who wander are lost." - J.R.R. Tolkien</p>
        <p>
            <a class="lost__link" href="/">Return home</a>
        </p>
    </div>
</layout>

