---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Matthew Chandler";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <!--img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/-->
        <img width="300" height="400" alt="4x3" src="4x3.png"/>
    </div>
    <h1>Matthew Chandler</h1>
    <span class="badge">BE(Hons)/BCom Student</span>
    <!--<h2>About</h2> !-->
    <p>
        Matthew is an adaptable and inquisitive thinker, who is ready to
        face the challenges of the world head-on. Always excited to see what
        the future has in store, he is not afraid of jumping into the unknown
        and trying something new.
    </p>
    <p>
        With work experience at Fisher & Paykel Healthcare and New Zealand Steel,
        Matthew brings a positive, joyful attitude to all he does. With strong
        interpersonal skills, and an eager hunger to learn, Matthew is a great
        asset to any team.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">Check out some of my work</button>
        </a>
    </div>
</Layout>

