---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Matthew Chandler</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Projects</a>
        <!--comment <a href="/posts/">Posts</a> -->
        <a href="https://linkedin.com/mrchandler144" target="_blank">LinkedIn</a>
        <a href="https://github.com/mrchandler144" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

